$primary-color: #5e71ff;

/* 초기화 */

*{
    margin: 0;
    padding: 0;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label{
    background:url("./images/checkBox_off.png") no-repeat;
    padding-left: 20px;
    font-size: 13px;
}

input[type="checkbox"]:checked  + label{
    background:url("./images/checkBox_on.png") no-repeat;
}


.container {
  background: white;
  min-height: 70vh;
  box-shadow: #eaedfb 0px 54px 55px;
  width: 400px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

h1 {
  color: $primary-color;
  text-align: center;
}

form {
  position: relative;
  margin: 30px 0 20px;
  input {
    border: none;
    width: 100%;
    border-bottom: 1px solid lightgray;
    height: 36px;
    &:focus {
      outline: none;
      border-bottom: 1px solid #5e71ff;
      transition: all 0.5s;
    }
  }
  button {
    width: 24px;
    height: 24px;
    border: none;
    background: #5e71ff;
    border: none;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
  }
}

ul{

    li{
        list-style: none;
        margin-bottom: 10px;
        position: relative;
        
    }

    .deleteBtn{
        border: none;
        background: none;
        cursor: pointer;
        margin-left: 6px;

    }
}

.date{
  text-align: center;
  color: $primary-color;
  font-weight: bolder;
}


